.navbar {

    height: 70px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 60px;

    background-color: #0f172a;

    color: white;

}


.logo {

    font-size: 28px;

    font-weight: bold;

    letter-spacing: 1px;

}


.nav-links {

    display: flex;

    gap: 30px;

}


.nav-links a {

    color: #cbd5e1;

    text-decoration: none;

    font-size: 16px;

    transition: 0.3s;

}


.nav-links a:hover {

    color: white;

}